
@media (max-width: 1024px) {

}

@media (max-width: 884px) {
    .header-menu-list {
        display: none;
    }
    .header-logo {
        padding-top: 4px;
    }
    .header {
        height: 90px;
        justify-content: center;
        align-items: center;
        column-gap: 6.25vw ;
    }
    .header-actions {
        display: flex;
        flex-direction: row-reverse; /* Инвертирует порядок */
        column-gap: 13.02vw;
    }
}


@media (max-width: 410px) {
    .header{
        column-gap: 26px;
    }
    .header-menu-list {
        display: none;
    }
    .header-logo {
        margin-right: 10px;
        padding-top: 12px;
        width:90px;
        height: 30px;
    }
    .header-actions {
        column-gap: 15px;
    }
    .header-book-button{
        width: 125px;
        height: 32px;
        text-align: center;
        margin-top: 5px;
        margin-right: 0px;
        padding-right: 10px;
    }
}




